# Publishes the nightly Docker image.

name: docker-nightly

on:
  workflow_dispatch:
  schedule:
    - cron: "0 1 * * *"

jobs:
  build:
    name: build and push
    runs-on: ubuntu-24.04
    permissions:
      packages: write
      contents: read
      id-token: write
    strategy:
      fail-fast: false
      matrix:
        include:
          - binary: reth
            image_name: ghcr.io/${{ github.repository_owner }}/reth
            manifest_path: bin/reth
            features: jemalloc asm-keccak
            profile: maxperf
            tag_suffix: nightly
          - binary: reth
            image_name: ghcr.io/${{ github.repository_owner }}/reth
            manifest_path: bin/reth
            features: jemalloc asm-keccak jemalloc-prof
            profile: profiling
            tag_suffix: nightly-profiling
          - binary: op-reth
            image_name: ghcr.io/${{ github.repository_owner }}/op-reth
            manifest_path: crates/optimism/bin
            features: jemalloc asm-keccak
            profile: maxperf
            tag_suffix: nightly
          - binary: op-reth
            image_name: ghcr.io/${{ github.repository_owner }}/op-reth
            manifest_path: crates/optimism/bin
            features: jemalloc asm-keccak jemalloc-prof
            profile: profiling
            tag_suffix: nightly-profiling
    steps:
      - uses: actions/checkout@v6
      - name: Set up Depot CLI
        uses: depot/setup-action@v1
      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push ${{ matrix.binary }} (${{ matrix.tag_suffix }}) image
        uses: depot/build-push-action@v1
        with:
          project: ${{ vars.DEPOT_PROJECT_ID }}
          context: .
          file: Dockerfile.depot
          platforms: linux/amd64,linux/arm64
          push: true
          tags: |
            ${{ matrix.image_name }}:${{ matrix.tag_suffix }}
          build-args: |
            BINARY=${{ matrix.binary }}
            MANIFEST_PATH=${{ matrix.manifest_path }}
            BUILD_PROFILE=${{ matrix.profile }}
            FEATURES=${{ matrix.features }}
