# Publishes the Docker image, only to be used with `workflow_dispatch`. The
# images from this workflow will be tagged with the git sha of the branch used
# and will NOT tag it as `latest`.

name: docker-git

on:
  workflow_dispatch: {}

jobs:
  build:
    name: build and push
    runs-on: ubuntu-24.04
    permissions:
      packages: write
      contents: read
      id-token: write
    strategy:
      fail-fast: false
      matrix:
        include:
          - binary: reth
            image_name: ghcr.io/${{ github.repository_owner }}/reth
            manifest_path: bin/reth
            features: jemalloc asm-keccak
          - binary: op-reth
            image_name: ghcr.io/${{ github.repository_owner }}/op-reth
            manifest_path: crates/optimism/bin
            features: jemalloc asm-keccak
    steps:
      - uses: actions/checkout@v6
      - name: Set up Depot CLI
        uses: depot/setup-action@v1
      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push ${{ matrix.binary }} image
        uses: depot/build-push-action@v1
        with:
          project: ${{ vars.DEPOT_PROJECT_ID }}
          context: .
          file: Dockerfile.depot
          platforms: linux/amd64,linux/arm64
          push: true
          tags: |
            ${{ matrix.image_name }}:${{ github.sha }}
          build-args: |
            BINARY=${{ matrix.binary }}
            MANIFEST_PATH=${{ matrix.manifest_path }}
            BUILD_PROFILE=maxperf
            FEATURES=${{ matrix.features }}
